{% extends 'base.html' %}
{% block content %}

<h2>Upcoming Playdates</h2>
{% for playdate in all_playdates %}

    <div class="card" id="playdatecard">
        <div class="card-content">
            <div class="imgdate">
                <img src="{{ photos|get_item:playdate.id }}" class="playdateimg" alt="">
                <p>{{ playdate.date }}</p>
            </div>
            <span class="card-title">{{ names|get_item:playdate.id }}</span>
            <div class="playdateinfo">
                <div>
                    <p>{{ shelters|get_item:playdate.id }}</p>
                    <p>Activity: {{ playdate.get_activity_display }}</p>
                </div>
                <div class="playdatebtns">
                    <a href="{% url 'playdate_update' playdate.id %}" class="btn2">Edit</a>
                    <a href="{% url 'playdate_delete' playdate.id %}" class="btn2">Cancel</a>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}