{% extends 'base.html' %}
{% block content %}

<h1>Your Playdates</h1>

<h5>UPCOMING PLAYDATES</h5>
{% for playdate in all_playdates %}
    {% if playdate.in_the_future %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ names|get_item:playdate.id }}</span>
                    <img src="{{ photos|get_item:playdate.id }}" alt="">
                    <p>Shelter: <a href=" {{ shelterlinks|get_item:playdate.id }}" target="_blank">{{ shelters|get_item:playdate.id }}</a></p>
                    <p>Activity: {{ playdate.get_activity_display }}</p>
                    <p>Date: {{ playdate.date }}</p>
                    <a href="{% url 'playdate_update' playdate.id %}" class="btn">Edit</a>
                    <a href="{% url 'playdate_delete' playdate.id %}" class="btn">Cancel</a>
                </div>
            </div>
    {% endif %}
{% endfor %}
    <hr>
<h5>PAST PLAYDATES</h5>
{% for playdate in all_playdates %}
    {% if playdate.in_the_future == False %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ names|get_item:playdate.id }}</span>
                <img src="{{ photos|get_item:playdate.id }}" alt="">
                <p>Shelter: <a href=" {{ shelterlinks|get_item:playdate.id }}" target="_blank">{{ shelters|get_item:playdate.id }}</a></p>
                <p>Activity: {{ playdate.get_activity_display }}</p>
                <p>Date: {{ playdate.date }}</p>
                <a href="{% url 'playdate_update' playdate.id %}" class="btn">Edit</a>
                <a href="{% url 'playdate_delete' playdate.id %}" class="btn">Cancel</a>
            </div>
        </div>
    {% endif %}

{% endfor %}

{% endblock %}