{% extends 'base.html' %}
{% block content %}
<body class="playdateform">
<h1>Edit Your Playdate with {{ animal.name }}:</h1>

    <form action="" method="post">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn" value="Submit Changes">
    </form>
    
    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            setDefaultDate: true,
            defaultDate: new Date(),
            autoClose: true
        });
    
        var activityEl = document.getElementById('id_activity')
        M.FormSelect.init(activityEl)
    </script>
</body>

{% endblock %}