{% extends 'base.html' %}
{% block content %}

<h1>{{ user.username }}</h1>

{% if object %}
<h1>Edit <span>{{object.name}}</span></h1>
{% else %}
    <h3>Set up your profile</h3>
{% endif %}
<form action="{% url 'index' %}" method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <input type="submit" value="Update" class="btn">
</form>
<script>
    document.getElementById('id_location').style.display = 'block';
    document.getElementById('id_pet_preference').style.display = 'block';
</script>

{% endblock %}