{% extends 'base.html' %}
{% block content %}

<h1>Animals near you</h1>
{% if all_animals.animals|length == 0 %}
    <h3>No {{ profile.pet_preference }} near you. Try changing your pet preferences or location.</h3>
{% else %}
<div class="row">
    {% for animal in all_animals.animals %}
    <div class="col s6 m4 m2">
      <div class="card">
        <div class="card-image">
            <a href="{% url 'animal_details' animal.id %}">
            <img src="{{ animal.primary_photo_cropped.small }}" alt="" class="indeximg"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}