body {
color: #595A4A;
  }

nav{
  background-color: white;
  -webkit-box-shadow: none;
}

.sidenav {
  background-color: #595A4A;
  border-radius: 0 20px;
}

.sidenav li>a {
  color: white;
}

.homepageBtns {
display: block;
margin: auto;
position: relative;
width: 80%;
text-align: center;
margin-top: 80%;
}

.btn {
  display: flex;
  margin: 20px;
  justify-content: center;
  border: #595A4A solid .3px;
  background-color: white;
  color: #595A4A;
  box-shadow: none;
}

.btn:hover {
  background-color: #595A4A;
  color: white;
}

a {
  text-decoration: none;
  color: #595A4A;
  display: flex;
}

nav ul a {
  color: #595A4A;
}

nav .sidenav-trigger {
  color: #595A4A;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.indeximg {
  position: relative;
  width: 300px;     
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

div.card {
  border-radius: 5px;
}

.card .card-image img {
  border-radius: 5px;
}

#detailimg {
  border-radius: 5px 5px 0 0;
}

#smallcard {
  background-color: #595A4A;
  color: white;
  border-radius: 0 0 5px 5px;
}

#slidecolor{
  background-color: white;
}

#cardslide {
  height: 35%;
}

.aboutimg {
  opacity: 45%;
}

#aboutslide {
  margin-top: 20%;
}

#caption1 {
  color: #595A4A;
}

#caption2 {
  color: #595A4A;
}

#caption3 {
  color: #595A4A;
}

.imgdate {
  display: flex;
  justify-content: space-between;
}

#playdatecard {
  border: solid 2px #595A4A;
}

.playdatebtns{
  display: flex;
}

.playdateimg {
  width: 25%;
}

.playdateinfo{
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.btn2 {
  justify-content: center;
  border: #595A4A solid .3px;
  background-color: white;
  color: #595A4A;
  box-shadow: none;
  display: flex;
  padding: 10%;
  margin: 0 5%;
}

@media only screen and (min-width: 993px) {
.homepageBtns {
  width: 35%;
  display: inherit;
  justify-content: center;
  margin-top: 41%;
}

}