body {
  color: #595A4A;
  font-family: 'Barlow', sans-serif;
}

.homecolor {
  background-color: #595A4A;
}

nav{
  background-color: white;
  -webkit-box-shadow: none;
}
 
nav.scroll {
  background-color: #E39774;
  color: white;
}
nav ul a.scroll {
  color: white;
}

.sidenav {
  background-color: #595A4A;
  border-radius: 0 20px;
}

.sidenav li>a {
  color: white;
}

.homepageBtns {
  display: block;
  margin: auto;
  position: relative;
  width: 80%;
  text-align: center;
  margin-top: 20%;
}

#homepagebtn:hover {
  background-color: #E39774;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.logoimg {
  max-width: 50%;
}

.btn {
  display: flex;
  margin: 20px;
  justify-content: center;
  border: #595A4A solid .3px;
  background-color: white;
  color: #595A4A;
  box-shadow: none;
}

.btn:hover {
  background-color: #595A4A;
  color: white;
}

a {
  text-decoration: none;
  color: #595A4A;
  display: flex;
}

nav ul a {
  color: #595A4A;
}

nav .sidenav-trigger {
  color: #595A4A;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.indeximg {
  position: relative;
  width: 300px;     
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

div.card {
  border-radius: 5px;
}

.card .card-image img {
  border-radius: 5px;
}

#detailimg {
  border-radius: 5px 5px 0 0;
}

#smallcard {
  background-color: #595A4A;
  color: white;
  border-radius: 0 0 5px 5px;
}

#slidecolor{
  background-color: white;
}

#cardslide {
  height: 35%;
}

.aboutimg {
  opacity: 45%;
}

#aboutslide {
  margin-top: 20%;
}

#caption1 {
  color: #595A4A;
}

#caption2 {
  color: #595A4A;
}

#caption3 {
  color: #595A4A;
}

.imgdate {
  display: flex;
  justify-content: space-between;
}

#playdatecard {
  border: solid 1px #595A4A;
}

.playdatebtns{
  display: flex;
}

.playdateimg {
  width: 25%;
  border-radius: 5px;
}

.playdateinfo{
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.btn2 {
  justify-content: center;
  border: #595A4A solid .3px;
  background-color: white;
  color: #595A4A;
  box-shadow: none;
  display: flex;
  padding: 7% 13% 0%;
  margin: 0 5%;
}
}

.btn2:hover {
  background-color: #595A4A;
  color: white;
  border: #595A4A;
}

.datepicker-date-display {
  background-color: white;
  color: #E39774;
}

.datepicker-calendar-container {
  background-color: #E39774;
  color: white;
}

.datepicker-controls .select-month input {
  color: white;
}

.datepicker-controls .select-year input {
  color: white;
}

.datepicker-table td.is-selected {
  background-color: #595A4A;
  color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: white;
}

.datepicker-table abbr {
  text-decoration: none;
  color: white;
}

.datepicker-date-display .year-text {
 color: #E39774;
}

.slider .indicators .indicator-item.active {
  background-color: #E39774;
}

nav ul a:hover {
  background-color: #595A4A;
  color: white;
}

#btn3 {
  margin: 5% auto;
}

.card{
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (min-width: 993px) {
.homepageBtns {
  width: 35%;
  display: inherit;
  justify-content: center;
  margin-top: 5%;
}

.logoimg {
  max-width: 40%;
}
}